In [ ]:
import numpy as np
import pandas as pd

In [ ]:
url = 'https://raw.githubusercontent.com/pudasainimohan/Materials/main/data/titanic.csv'
df = pd.read_csv(url)

**Agegroup**        
If you want to create age groups from an 'age' variable, you can use the `pd.cut()` function. This function can be used to bin numerical data into discrete intervals. You can specify the `bin edges` and `labels `for the intervals and create a new column to store the binned data. For example, to create age groups in 10-year intervals, you can define the bin edges as a list of numbers from 0 to 80 in increments of 10, and the corresponding labels as a list of strings such as '0-10', '10-20', '20-30', and so on. You can then use the pd.cut() function to create a new column with the binned data. The resulting DataFrame will have a new column with the specified age groups.

In [1]:

bins=[0,10,20,30,40,50,60,70,80]

labels=['0-10','10-20','20-30','30-40','40-50','50-60','60-70','70-80']

# Create a new column 'AgeGroup' by binning the 'age' column
df['AgeGroup'] = pd.cut(df['age'], bins=bins, labels=labels)
df

NameError: name 'pd' is not defined

In [ ]:
bins=[i for i in range(0,91,10) ]
bins
labels=[f"{i}-{i+10}" for i in range (0,90,10)]
labels
df['ag']=pd.cut(df.age,bins=bins,labels=labels)
df

Suppose you want to categorize fares into three categories where fares less than 100 are "Cheap fare", fares between 100 and 200 are "Reasonable fare", and fares greater than 200 are "Expensive fare". You can categorize fares in the following way:

In [ ]:
condition = [df.fare < 100, df.fare <200  , df.fare >= 200]
label = ['Cheap fare', 'Reasonable fare', 'Expensive fare']
df['fare1'] = np.select(condition, label, default='Unknown')
df

Create a new column class_l that replaces the numeric codes with the corresponding categorical labels "First Class", "Second Class", and "Third Class".

In [ ]:
l_dict={1:'First Class',2:'Second Class',3:'Third class'}
df['class_l']=df['pclass'].replace(l_dict)
df.drop

## Handling Missing Values

Missing values can be indicated with a None or np.nan value, like in Numpy.  Pandas Dataframes have several methods for detecting, removing, and replacing these values:

| method | description
| ---:  | :---- |
**isna()** | Returns True for each NaN |
**notna()** | Returns False for each NaN |
**dropna()** | Returns just the rows without any NaNs |

**Exercises**

What proportion of the "deck" column is missing data?

How many rows don't contain any missing data at all?

Make a dataframe(df1) with only the rows containing no missing data on 'deck'column.

#### Imputation

You can also replace missing data with real values.

| method | description |
| ----: |  :---- |
| **fillna()** | Replaces the NaNs with values (provides lots of options) |
| **ffill()** | Replaces the Nans with the previous non-NaN value (equivalent to df.fillna(method='ffill') |
| **bfill()** | Replaces the Nans with the following non-NaN value (equivalent to df.fillna(method='bfill') |
| **interpolate()** | interpolates nans with previous and following values |

**Imputation Exercises**
Given the following dataframe, fill in the missing data using the fillna() or interpolate() methods:

In [ ]:
data = pd.DataFrame({'time': [0.5, 1., 1.5, None, 2.5, 3., 3.5, None], 'value': [6, 4, 5, 8, None, 10, 11, None]})
data

Replace all the missing "value" colum with zeros.

Replace the missing "time" rows with the previous value

Replace all of the missing values with the data from the next row.

Linearly interpolate the missing data.  What is the result for this dataset?

## Querying/Filtering Data

To get rows based on their value, Pandas supports both Numpy's logical indexing for filtering rows and an SQL-like query string.  For example, to get all the rows of a dataframe that is positive for Column1:

```python
positive_rows = df['Column1'] > 0
df[positive_rows]
```

Often, this is done in a single line:

```python
df[df['Column1'] > 0]
```

**Exercises**
Let's do some data querying:

**Example**: Did the oldest passenger on the Titanic survive?

In [ ]:
df[df.age == df['age'].max()].survived
df.query('age == age.max()').survived

Where did the youngest passenger on the Titanic embark from?

In [ ]:
df.head()

How many passengers on the Titanic embarked from Cherbourg? (use len() to count the number of rows)

What is mean ticket fare for the 1st class?

 The 2nd?

The 3rd?

How many total people survived from Southampton?

From Cherbourg?

How many people from Southampton had first class tickets? (Hint: `(True) & (True)`)

Keep only the data where the fare is greater than 10 and store it in the `result` object

Keep only the data where the fare is greater between 16 and 18 and store it in the `result` object

**Sorting** : To sort the values of specifid variable we can use `sort_values()` methods.by default this method sort values in assending order, for the decending order you have to change `ascending=False` .

sort the age in decending order and keep it as `result` object

### contingency table using  **pd.crosstab()** . 
Some parameters of crosstab function:

`index`: Specifies the row labels for the resulting DataFrame.       
`columns`: Specifies the column labels for the resulting DataFrame.        
`values`: Specifies the data values to be aggregated in the resulting DataFrame. This parameter is optional.        
`rownames`: Specifies the row names for the resulting DataFrame. This parameter is optional.        
`colnames`: Specifies the column names for the resulting DataFrame. This parameter is optional.       
`aggfunc`: Specifies the aggregation function to be used when aggregating the data values. This parameter is optional and defaults to 'count'.        
`margins`: Specifies whether or not to include the marginal totals in the resulting DataFrame. This parameter is optional and defaults to False.        
`margins_name`: Specifies the name for the row and column labels of the marginal totals. This parameter is optional and defaults to 'All'.        
`dropna`: Specifies whether or not to exclude missing values (NaN) from the computation. This parameter is optional and defaults to True.         
`normalize`: Specifies whether or not to normalize the resulting DataFrame. If set to True, the values will be normalized to sum up to 1. This parameter is optional and defaults to False

Example:1

In [ ]:
table = pd.crosstab(index=df['sex'], columns=df['AgeGroup'])
table

Example:2

In [ ]:
table = pd.crosstab(index=df['sex'], columns=df['AgeGroup'], values=df['fare'], aggfunc='mean')
table

Example:3

In [ ]:
table = pd.crosstab(index=df['sex'], columns=df['AgeGroup'], margins=True)
table

In [ ]:
#crosstabl
table = pd.crosstab(index=df['sex'], columns=df['AgeGroup'], margins=True)
# print(table)

# percentage caluculate
table_pct = table / table.loc['All'] * 100
table_pct = table_pct.round(2)

# table_pct = table.div(table['All'], axis=0).mul(100).round(2)
table_pct = table.div(table['All'], axis=0)
table_pct=round(table_pct*100,2)
print(table_pct)

# # Combined
new_table = table.astype(str)+ ' (' + table_pct.astype(str) + '%)'
new_table

# Remove the 'All' column and row 
# new_table1 = new_table.drop(columns=['All'], index=['All'])

# print(new_table1)

## GroupBy Operations: Applying Aggregations to Groups of Data

Usually, you don't just want to get a single metric from a dataset--you want to compare that metric between differnt subgroups of your data. For example, you want the mean **class wise average fare** , or the maximum fare  of **each class**, or the total passenger of **each class**, and so on.

The **groupby()** method lets you specify that an operation will be done on each *same-valued* row for a given column.  For example, to ask for the mean temperature by month:


To get the average age of each class

```python
>>> df.groupby('pclass').age.mean()
```

You can also group by as many columns as you like, getting as many groups as unique combinations between the columns:

```python
>>> df.groupby(['year', 'month']).temperature.mean()
```

Groupby objects are **lazy**, meaning they don't start calculating anything until they know the full pipeline.  This approach is called the **"Split-Apply-Combine"** workflow.  You can get more info on it here: https://pandas.pydata.org/pandas-docs/stable/user_guide/groupby.html

**Exercises**: Let's try this out on the Titanic Dataset!

Example: What was the mean age, grouped by class?

In [ ]:
df.groupby('pclass').age.mean()

What was the median ticket fare for each class?

What was the survival rate for each class?

What was the survival rate for each sex?

What was the survival rate, broken down by both sex and class?

What was the median ticket fare for each embarking town?

What was the median age of the survivors vs non-survivors, when sex is considered as a factor?

Calculate the number of passengers, their average age, and maximum age for each category based on sex.

In [ ]:

result = df.groupby('sex').agg(
    n=('sex', 'count'),
    average=('age', 'mean'),
    maximum=('age', 'max')
)
result

What is the number of passengers and survival rate for each passenger class, broken down by sex and port of embarkation?