In [ ]:
import pandas as pd

### Working with Rows and Column

Because DataFrame rows are both ordered and named, they can be indexed using either approach, and even both!  Column operations tend to be name-specific:

| Axis        | Ordered Index | Named Index    | Ordered Slice    | Named Slice  |            
| :--   | :--    | :--     | :--       | :--        |   
| **Rows**    | `df.iloc[0]`  | `df.loc['row1']` | `df.iloc[0:2]` or `df[0:2]`   | `df.loc[['row1', 'rown']]`  |  
| **Columns** |  `df.iloc[:,0]`     |  `df['Q1']` or `df.Q1` | `df.iloc[:,0:4]` |  `df[['Q1', 'Q4']]` |   

**Note**: Square brackets, not round brackets are used after `df.loc` and `df.iloc`.
Other Methods :

`df.head(n)`: Returns the first n rows of the DataFrame      
`df.tail(n)`: Returns the last n rows of the DataFrame          
`df.columns`: Returns a list of column names in the DataFrame         
`df.shape`: Returns a tuple representing the dimensions of the DataFrame (number of rows, number of columns)         
`df.info()`: Prints a summary of the DataFrame, including data types and non-null values for each column         
`df.describe()`: Generates descriptive statistics for each column in the DataFrame, such as count, mean, standard deviation, minimum, and maximum values            
`df.astype()`: to change the data types

### The Titanic Dataset

Import data form internet.

In [ ]:
url = 'https://raw.githubusercontent.com/pudasainimohan/Materials/main/data/titanic.csv'
df = pd.read_csv(url)

**Exercies** :  Let's experiment in Pandas using the Titanic dataset:     

Disply the first 10 row of the data frams

Print the name of colums:

Calculate the number of rows and columns of the data frame.

Please review the summary of the DataFrame uing `info()` methods

Calculate the summary statistics of each variable using `describe` method.

Calculate the summary statistmodes of Charectar variables only `Hint: include=['object]` Remeber other data types  'int', 'float', 'object',

**Note: you can see the arguments using <kbd>sift +tab </kbd> shortcuts

Use `iloc` method to keep first 3 column of the data frame.

**Example**: Select the 'embarked' column:

**Exercises**:

In [ ]:
type(df[['embarked']])

Select the "age" column using two different methods

Get rows 10-16

Select the first 5 rows of the "sex" column

Select the "survived" and "age" columns:

Select 2nd to 5th coulum

Select rows 5-10 of the "pclass" column

As we saw above, `survived` and `pclass` are represented as integers in the dataset, but in reality, they are categorical variables. We should change the data type of both these variables to categorical variables. change these two variables in categorical.`Hint:df['column']=df['column'].astype('category')`

We can select specific type of data using `select_dtypes()` methods. select only number columns form the `df` and assisgn `df1` to the new data frame.

**Bonus:**  We can select columns that start with a certain pattern by using regular expressions. Here's an example of how to do it.

In [ ]:
df.filter(regex='^p')

## Summarizing / Aggregating Data in DataFrames

Pandas also supplies many different aggregation functions as methods:

```python
df.mean()
df['Column'].mean()
```
 
`.mean()`: Returns the mean of all numeric columns in the DataFrame         
`.median()`: Returns the median of all numeric columns in the DataFrame         
`.max()`: Returns the maximum value of all columns in the DataFrame        
`.min()`: Returns the minimum value of all columns in the DataFrame           
`.count()`: Returns the number of non-null values in each column of the DataFrame        
`.value_counts()`: Returns a Series containing counts of unique values in a column of the DataFrame       
`.unique()`: Returns an array of unique values in a column of the DataFrame        
`.quantile(q)`: Returns the qth percentile of each numeric column in the DataFrame, where q is a float between 0 and 1.   

**Examples**:

**Exercises**

**Example**: What is the mean ticket fare that the passengers paid on the titanic?

In [ ]:
df.fare.mean()
df['fare'].mean()

What is the mean of all numeric variables of the data frame?

What is the median ticket fare that the passengers paid on the titanic?

How old was the oldest person on the titanic?

What was the lowest fare paid on the titanic?

What proportion of the passengers were alone on the titanic? (Hint: df.mean())

What were the different (e.g. *unique*) classes on the titanic?

In [ ]:
df['pclass'].unique()

How many men and women are in the dataset? (hint: df.value_counts())

How many passengers are sitting in each class?

In [ ]:
df.pclass.value_counts()

How many passengers of each sex are sitting in each class? (hint: value_counts() on multiple columns)

**Column Rename** : 

To change the column name you can  use `rename` methods.        
for example:       
If you want to change column name sex with gender then you can use `columns` arguments. 
`df=df.rename(columns={'sex':'gender'})`

Change column nane `survuved` as `alived`.

## Transforming Data: Broadcasting Element-Wise Operations

Any transformation function can be performed on each element of a column, or even all columns of a DataFrame.  Here are several options for this approach:

Numpy-like Operator syntax with Broadcasting:
```python
df['Column1'] * 100
```

Functions-style syntax:
```python
np.sqrt(df['Column1'])
```

Special broadcasted-version of different classes' Methods:
```python
df['Column1'].str.upper()
```

****Exercises****: Let's try some of these on the titanic data:

**Example**: Make a new column called "OnTitanic", with all of the values set to True

In [ ]:
df['OnTitanic']=True
df

Make a new column called "isAdult", with True values if they were 18 or older and False if not.

Get everyone's age if they were still alive today (hint: Titanic sunk in 1912)

If a person was 10 when they were on the titanic, in 2023 they would be 121.

Create a new column called 'Adjusted Fare' in NPR with the cost of a ticket converted to today's currency conversion rate, assuming that the current conversion rate for 1 USD is Rs. 130.45.

**Agegroup**        
If you want to create age groups from an 'age' variable, you can use the `pd.cut()` function. This function can be used to bin numerical data into discrete intervals. You can specify the `bin edges` and `labels `for the intervals and create a new column to store the binned data. For example, to create age groups in 10-year intervals, you can define the bin edges as a list of numbers from 0 to 80 in increments of 10, and the corresponding labels as a list of strings such as '0-10', '10-20', '20-30', and so on. You can then use the pd.cut() function to create a new column with the binned data. The resulting DataFrame will have a new column with the specified age groups.

In [ ]:

bins=[0,10,20,30,40,50,60,70,80]

labels=['0-10','10-20','20-30','30-40','40-50','50-60','60-70','70-80']

# Create a new column 'AgeGroup' by binning the 'age' column
df['AgeGroup'] = pd.cut(df['age'], bins=bins, labels=labels)
df

In [ ]:
url = 'https://raw.githubusercontent.com/pudasainimohan/Materials/main/data/titanic.csv'
df = pd.read_csv(url)

In [ ]:
bins=[np.min(df.fare),100,200,np.max(df.fare)]

labels=['Cheap', 'reasonable', 'expensive']

# Create a new column 'AgeGroup' by binning the 'age' column
df['pp'] = pd.cut(df['fare'], bins=bins, labels=labels)
df

Suppose you want to categorize fares into three categories where fares less than 100 are "Cheap fare", fares between 100 and 200 are "Reasonable fare", and fares greater than 200 are "Expensive fare". You can categorize fares in the following way:

In [ ]:
condition = [df.fare < 100, df.fare <200  , df.fare >= 200]
label = ['Cheap fare', 'Reasonable fare', 'Expensive fare']
df['fare1'] = np.select(condition, label, default='Unknown')

Create a new column class_l that replaces the numeric codes with the corresponding categorical labels "First Class", "Second Class", and "Third Class".