# Some quries solutions

### remove lable and keep only legend on pie chart

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from scipy.interpolate import make_interp_spline

In [ ]:
data = pd.DataFrame({'Category': ['A', 'B', 'C', 'D', 'E'],
                     'Value': [20, 35, 30, 25, 40]})

colors = ['#ff6666', '#468499', '#ff7f50', '#ffdab9', '#00ced1']
plt.pie(data.Value, explode=[0.2, 0, 0, 0, 0], colors=colors,
        labeldistance=1.2, shadow=True, radius=1.3,
        autopct='%.1f%%', textprops={'fontsize': 16, 'color': "#003366"},
        rotatelabels=True)

plt.title("Sample Pie Chart", y=1.1, fontsize=16)
plt.legend(data.Category, loc="center right", bbox_to_anchor=(1, 0, 0.5, 1))

plt.show()

### Making line smooth

In [ ]:
data = pd.read_csv('https://raw.githubusercontent.com/pudasainimohan/Materials/main/data/price.csv')
plt.figure(figsize=(12,6))

plt.plot(data.Date,data.CPI,color="blue",label="CPI")

plt.xlabel("Date")

plt.ylabel("Index")

plt.title("Nepal's Monthly CPI ")
plt.xticks(rotation=45)
plt.show()

In [ ]:

data['Date'] = pd.Categorical(data['Date'])

x = data['Date'].cat.codes
y = data['CPI']
x_smooth = np.linspace(x.min(), x.max(), 300)
spl = make_interp_spline(x, y, k=3)
y_smooth = spl(x_smooth)

plt.figure(figsize=(12,6))
plt.plot(x_smooth, y_smooth, color="blue", label="CPI")
plt.xticks(data['Date'].cat.codes, data['Date'],rotation=45)
plt.xlabel("Date")
plt.ylabel("CPI")
plt.title("Nepal's Monthly CPI")
plt.show()

### String filter

In [ ]:
df = pd.DataFrame({'Name': ['Ram', 'Bimal', 'Binod', 'Shahid', 'MOhan'],
                     'Age': [20, 35, 30, 25, 40]})
df

In [ ]:
df[df['Name'].str.contains('m')]
df.query()

In [ ]:
df[df['Name'].str.startswith('B')]
df.query("Name.str.contains('B')")

In [ ]:
df[df['Name'].str.endswith('d')]

### date formating

In [ ]:

df=pd.read_csv('https://raw.githubusercontent.com/pudasainimohan/Materials/main/data/price.csv')
temp=pd.to_datetime(df['Date'], format='%Y-%m')
temp.info()

### Call another program from Python

In [ ]:
import rpy2.ipython

%load_ext rpy2.ipython

%R require(ggplot2)
%R data(msleep)
%R head(msleep)

## Control Flow in Python: If-Else Blocks

### Python's Block Syntax

A "Block" of code is code grouped code together into a logical whole.  In general, Python code blocks look very similar to other languages, except it uses no special end block charachter (like an end bracket or the word "end" ):

```
#  R                   # Matlab               # Python    
if (x > 1) {             if x > 1              if x > 1:
    y = 3                    y = 3                 y = 3
} else if (x < 0) {      elseif x < 0          elif x < 0:
    y = 5                    y = 5                 y = 5
} else {                 else                  else:
    y = 2                    y = 2                 y = 2
}                        end
```

What's quite different about Python's block syntax is that it is very strict: **matching indentation** in the body of the block absolutely required (unlike in the other languages, in which indentation is only style to make reading code easier, and doesn't matter to the computer).   If indentation levels don't match in a block, Python will raise an **IndentationError**.


Flexible syntax can be quite nice, but Python's strictness here is intended to encourage code that's easy to read by encouraging a community to use similar coding styles.  

The rule in Python is **Start a header of a block with a keyword, then end the header with a colon (:), then indent each line below it in the body.  When the block ends, unindent.**


Let's get some practice, starting with **if**, **else**, and **elif**!

### If-Else Blocks

If-Else blocks are used in programming languages to control the "flow" of the program (i.e. make decisions about which code gets run).  

```python
x = 5
if x > 4:
    print('big')
elif x < 0:  # optional, can have as many elifs as you want
    print('negative')
else:   # optional, limited to one else.
    print('small')
```

Reasoning through which lines of code will get run takes some practice.

**Exercises**

Write code that has the described behavior.  Be sure to test that the conditional flow works properly by changing your data and rerunning the cell!

If data has more than 5 values, print 'Big Data!"

If x is less than 10, print 'Hello!'

If a random number num is even (that is, when it is divided by two, it has a remainder of zero), then print "Even". If it is odd, print "odd"

In [ ]:
import numpy as np
num = np.random.randint(1, 7)

If the mean of x and y is positve, print "You win!" If not, print "Sorry, play again..."

In [ ]:
import random
x = random.randint(-10, 7)
y = random.randint(-10, 7)

print a label for a person given their age. Note: For the cases below, the ranges exclude the maximum value. In this schema, if the person is 1.0 years old, then they are a toddler, not an infant.

0-1: "infant"
1-3: "toddler"
3-10: "child"
10-13: "preteen"
13-18: "teenager"" python

In [ ]:
age = 5  # or any other age

if age >= 0 and age < 1:
    label = "infant"
elif age >= 1 and age < 3:
    label = "toddler"
elif age >= 3 and age < 10:
    label = "child"
elif age >= 10 and age < 13:
    label = "preteen"
elif age >= 13 and age < 18:
    label = "teenager"
else:
    label = "adult"

print("The person is a", label)

# Loops: Describing How to Repeat Steps in a Program

## For Loops:

Like R and Matlab, Python makes it straightford repeat commands "For-Each" element in a data collection.  For example, to print each element in a list:

```python
names = ['Ram', 'Hari', 'Mohan']
for name in names:
   print(name)
# prints "Ram" then "Hari" then "Mohan"
```
.

**Exercises**

Example: Print 10 times each number in the list 
For example, `[2, 4]` should print `20` then `40`.

In [ ]:
nums = [4, 8, 10, 5]

Print the first letter of each name in the list

In [ ]:
names = ["Hetauda", "Kathmandu", "Pokhara", "Lukla"]

Print the sum of each tuple in the list:

In [ ]:
results = [(3, 5, 2), (2, 3, 7), (8, 9, 1)]

## List-Append Loop Pattern

This can also be used to create new data collections.  For example:

```python
old_names = ['Ram', 'Hari', 'Mohan']
new_names = []
for name in old_names:
   new_names.append(name.title())
```

**Exercises**

Example: Make a list with the first three letters of each sequence

In [ ]:
seqs = ["ABHDNS", "JAKDF", "KMAFHD"]

In [ ]:
new_list = []
for seq in seqs:
    first_three = seq[:3]
    new_list.append(first_three)
new_list

Make a list of the number of A in each sequence (transform: `str.count()`)

In [ ]:
seqs = ["Ajsdai", "taccaaa", "AGtACCaC"]

In [ ]:
acounts = []
for seq in seqs:
    acount = seq.upper().count('A')
    acounts.append(acount)
acounts

## Sequence-Unpacking Loop Pattern

Loops are also useful when you have a collection of collections (e.g. a list of lists).
When it's a collection of same-length sequences, you can break apart each sequence inside the loop and work with each value ias its own variable:

```python
pairs = [[4, 5], [7, 8], [2, 9]]
for first, second in pairs:
    print(first + second)
```

**Exercises**

Example: Make a list of the sum of each number pair

In [ ]:
pairs = [[4, 7], [7, 2], [10, 2], [5, 9]]

In [ ]:
sums = []
for a, b in pairs:
    sums.append(a + b)
sums

Make a list of filenames with the corresponding base name and file extension:

In [ ]:
parts = [
    ('seq1', '.txt'),
    ('seqA', '.fasta'),
    ('myseq', '.dat'),]

In [ ]:
filenames = []
for base, ext in parts:
    filename = base + ext
    filenames.append(filename)
filenames

Calculate `y` for each sets of coeffients using the formula $ y = a ^ 2 + b + c $:

In [ ]:
abcs = [(3, 2, 5), (7, 2, 1), (8, -3, 4)]

In [ ]:
ys = []
for a, b, c in abcs:
    ys.append(a**2 + b + c)
ys

## The Zip Loop Pattern

Most of the times, you don't have a collection of pairs--sometimes, you need to make that collection yourself before you can loop over them.  The `zip()` function makes this straightforward!

```python
names = ['Ram', 'Hari', 'Mohan']
ages = [20, 21, 22]
for name, ages in zip(names, ages)):
    print(name, age)
```
.

**Exercises**

Example: Add each pair of numbers

In [ ]:
firsts = [1, 2, 3, 4, 5]
seconds = [10, 20, 30, 40, 50]

In [ ]:
sums = []
for first, second in zip(firsts, seconds):
    sums.append(first + second)
sums

Make a list of filenames called `filenames`, combining the basename and extension from each matching pair in the list.

In [ ]:
basenames = ['requirements', 'README', 'main', 'docs']
extensions = ['.txt', '.md', '.py', '.rst']

In [ ]:
filenames = []
for base, ext in zip(basenames, extensions):
    filenames.append(base + ext)
filenames

## The `range` Iterator

What if you don't have a collection of data, but you already know how many times you want to repeat a task? Well, to use a for-loop, we need to **generate** a sequence for the for loop to iterate through! `range()` generates a series of integers, using the same closed-open convention as Python slicing. For example:

```python
>>> range(5)  # Create the generator
range(0, 5)

>>> list(range(5))  # Iterate through the generator to make a list
[0, 1, 2, 3, 4]

>>> tuple(range(-2, 2))  # Iterate to make a tuple
(-2, 1, 0, 1)
```
.

**Exercises**

Using For-Loops and the range() function, do the following tasks:

Print the numbers 0 through 4:

In [ ]:
for x in range(5):
    print(x)

Print the numbers 0 through 9:

Print "Hello World" five times.


## Organizing Code for Readability and Reusability: Functions

Whether you're writing code in a data science notebook or in a text script file, eventually your code will get long enough
that it becomes a challenge to keep it understandable and easy to find useful pieces to reuse in other projects. 

The most common way of organizing code is to break it into into smaller **functions**.  To make a function, you need to tell Python:
  
  1. The function's **name**,
  2. The inputs (a.k.a "arguments") that the function needs to do its work, and
  3. The output (a.k.a. "return value") that the function will give to whatever code that called it.
  

```python
def add(x, y):   # Define a function name and its arguments x and y
    z = x + y            # Make calculations in the function body
    return z             # "Return" data out of the function.

result = add(5, 3)  # Then the function can be called again, changing the argument values for whatever you want!
```
.

**Example Exercise**: Make a function out of the code below, so the following line works:

`c = subtract(5, 3)`

In [ ]:
a = 10
b = 2
result = a - b
result

In [ ]:
def subtract(a, b):
    result = a - b
    return result

c = subtract(5, 3)
c

Make a function out of the code below, so the following line works:

`c = multiply(10, 20)`

In [ ]:
a = 10
b = 20
result = a * b
result

Make a function out of the code below, so the following line works: 

    is_even(7) #False

In [ ]:

def record_add(df, new_records):
    existing_check = new_records['name'].isin(df['name'])

    non_existing_records = new_records[~existing_check]
    df = pd.concat([df, non_existing_records], ignore_index=True)
    
    return df

df = pd.DataFrame({'name': ['Ram', 'Hari', 'Mohan'], 'age': [25, 30, 32]})

new_records = pd.DataFrame({'name': ['Krishna', 'Mohan'], 'age': [28, 33]})

df = record_add(df, new_records)

print(df)