In [ ]:
import numpy as np
import pandas as pd

In [ ]:
url = 'https://raw.githubusercontent.com/pudasainimohan/Materials/main/data/titanic.csv'
df = pd.read_csv(url)

bins=[0,10,20,30,40,50,60,70,80]

labels=['0-10','10-20','20-30','30-40','40-50','50-60','60-70','70-80']

# Create a new column 'AgeGroup' by binning the 'age' column
df['AgeGroup'] = pd.cut(df['age'], bins=bins, labels=labels)
df

### contingency table using  **pd.crosstab()** . 
Some parameters of crosstab function:

`index`: Specifies the row labels for the resulting DataFrame.       
`columns`: Specifies the column labels for the resulting DataFrame.        
`values`: Specifies the data values to be aggregated in the resulting DataFrame. This parameter is optional.        
`rownames`: Specifies the row names for the resulting DataFrame. This parameter is optional.        
`colnames`: Specifies the column names for the resulting DataFrame. This parameter is optional.       
`aggfunc`: Specifies the aggregation function to be used when aggregating the data values. This parameter is optional and defaults to 'count'.        
`margins`: Specifies whether or not to include the marginal totals in the resulting DataFrame. This parameter is optional and defaults to False.        
`margins_name`: Specifies the name for the row and column labels of the marginal totals. This parameter is optional and defaults to 'All'.        
`dropna`: Specifies whether or not to exclude missing values (NaN) from the computation. This parameter is optional and defaults to True.         
`normalize`: Specifies whether or not to normalize the resulting DataFrame. If set to True, the values will be normalized to sum up to 1. This parameter is optional and defaults to False

Example:1

In [ ]:
table = pd.crosstab(index=df['sex'], columns=df['AgeGroup'])
table

Example:2

In [ ]:
table = pd.crosstab(index=df['sex'], columns=df['AgeGroup'], values=df['fare'], aggfunc='mean')
table

Example:3

In [ ]:
table = pd.crosstab(index=df['sex'], columns=df['AgeGroup'], margins=True)
table

In [ ]:
#crosstabl
table = pd.crosstab(index=df['sex'], columns=df['AgeGroup'], margins=True)
# print(table)


table_pct = table.div(table['All'], axis=0).mul(100).round(2)
# table_pct = table.div(table['All'], axis=0)
# table_pct=round(table_pct*100,2)
# print(table_pct)

# # Combined
new_table = table.astype(str)+ ' (' + table_pct.astype(str) + '%)'
new_table

# Remove the 'All' column and row 
# new_table1 = new_table.drop(columns=['All'], index=['All'])

# print(new_table1)

## Reorganizing Data in DataFrames

## GroupBy Operations: Applying Aggregations to Groups of Data

Usually, you don't just want to get a single metric from a dataset--you want to compare that metric between differnt subgroups of your data. For example, you want the mean **class wise average fare** , or the maximum fare  of **each class**, or the total passenger of **each class**, and so on.

The **groupby()** method lets you specify that an operation will be done on each *same-valued* row for a given column.  For example, to ask for the mean temperature by month:


To get the average age of each class

```python
>>> df.groupby('pclass').age.mean()
```

You can also group by as many columns as you like, getting as many groups as unique combinations between the columns:

```python
>>> df.groupby(['year', 'month']).temperature.mean()
```

Groupby objects are **lazy**, meaning they don't start calculating anything until they know the full pipeline.  This approach is called the **"Split-Apply-Combine"** workflow.  You can get more info on it here: https://pandas.pydata.org/pandas-docs/stable/user_guide/groupby.html

**Exercises**: Let's try this out on the Titanic Dataset!

Example: What was the mean age, grouped by class?

In [ ]:
df.groupby('pclass').age.mean()

What was the median ticket fare for each class?

What was the survival rate for each class?

What was the survival rate for each sex?

What was the survival rate, broken down by both sex and class?

What was the median ticket fare for each embarking town?

What was the median age of the survivors vs non-survivors, when sex is considered as a factor?

Calculate the number of passengers, their average age, and maximum age for each category based on sex.

In [ ]:

result = df.groupby('sex').agg(
    n=('sex', 'count'),
    average=('age', 'mean'),
    maximum=('age', 'max'))
result

From the following data write the code to prduce result as result table

In [ ]:
data=pd.read_csv('https://raw.githubusercontent.com/pudasainimohan/Materials/main/data/data.csv')
data.head(5)

In [ ]:
#output looks
pd.read_csv('https://raw.githubusercontent.com/pudasainimohan/Materials/main/data/result.csv')

## Concatenation / Appends

The `pd.concat()` fucntion and `DataFrame.append()` method takes DataFrames with identical columns and makes a DataFrame that is **taller** than either of them by stacking them on top of each other.

For example, it can turn this `df1` DataFrame:

| Day | Weather |
| :-: | :---:   |
| Monday | Sunny   |
| Tuesday | Rainy |

and this `df2` DataFrame:

| Day | Weather |
| :-: | :---:   |
| Wednesday | Sunny   |
| Thursday | Rainy |

into this:

| Day | Weather |
| :-: | :---:   |
| Monday | Sunny   |
| Tuesday | Rainy |
| Wednesday | Sunny   |
| Thursday | Rainy |


with one line of code:

```python
pd.concat([df1, df2])
```

**Note:** If you'd like pandas to ignore the index of the dataframes when appending them, the following option is helpful:

```python
pd.concat([df1, df2], ignore_index=True)
```

**Note:** With the `pd.concat()` function, you can concatenate as many dataframes in one step as you want!

#### Exercise

Let's practice concatenating DataFrames with the `pd.concat` function:

In [ ]:
df1 = pd.DataFrame({'Name': ['Ram', 'Shyam', 'Rita'], 'Age': [16, 19, 17]})
df1

In [ ]:
df2 = pd.DataFrame({'Name': ['Ramesh', 'Anita', 'Binod'], 'Age': [21, 16, 23]}, index=[3, 4, 5])
df2

In [ ]:
df3 = pd.DataFrame({'Name': ['Dipak', 'Janak', 'Laxmi'], 'Age': [5, 10, 61]})
df3

Concatenate df1 and df2 together!

Concatenate df2 and df3 together!

Concatenate all three dataframes in a single line

The index in these datasets is unlabelled, indicating that they potentially don't contain useful data.  Concatenate them all together so that the index of the final dataframe is simply 0-8.

## Merge / Joins
The `pd.merge()` function and `DataFrame.join()` method take two DataFrames and make them **wider** by matching rows with the same-values on a specified column.  

For example, it can turn this `df1` DataFrame:

| Day | Weather |
| :-: | :---:   |
| Monday | Sunny   |
| Tuesday | Rainy |

and this `df2` DataFrame:

| Day | Temperature |
| :-: | :---:   |
| Tuesday | 12   |
| Monday | 18 |

into this:

| Day | Weather | Temperature |
| :-: | :---:   | :---: |
| Monday | Sunny   | 18 |
| Tuesday | Rainy | 12 |

with one line of code:

```python
df_merged = pd.merge(left=df1, right=df2, left_on="Day", right_on="Day")
```

Just specify which columns should be matched up with each other, and it will search for the matching values automatically!  If you want it to use the index, you can alternatively supply the option `left_index=True` and/or `right_index=True`.

### Exercises

Let's practice merging dataframes with the `pd.merge()` function.

Dataframe 1:

In [ ]:
df1 = pd.DataFrame({'Name': ['Paul', 'Anamol', 'Rajesh'], 'Age': [30, 32, 55]})
df1

Dataframe 2:

In [ ]:
df2 = pd.DataFrame({'Name': ['Anamol', 'Paul', 'Laxman'], 'Weight': [32, 15, 37]})
df2

Dataframe 3:

In [ ]:
df3 = pd.DataFrame({'Name': ['Pushpa', 'Paul', 'Laxman'], 'Height': [5.3, 5, 4.5]})
df3

Merge the first two dataframes together.  Who do we know both the age and weight of?

Who do we know both the weight and height of?

Try merging all 3 by merging twice.  Who do we know everything about?

Note that the Names that weren't present in both dataframes dropped out of the final result.  If you'd like to keep them and have NaNs appear, you can change the `how` parameter in the `pd.merge()` function.  Let's try out a few options by merging dataframes 1 and 2:

!["pandas merge"](https://www.datasciencemadesimple.com/wp-content/uploads/2017/09/join-or-merge-in-python-pandas-1.png?ezimgfmt=ng:webp/ngcb1)

`how="outer"`

`how="left"`

`how="right"`

`how="inner"`

Recognizing that multiple inner joins can result in high data attrition, what policies would you put in your future data analyses to both prevent data loss and keep data easy to analyze?

## Melts

The `pd.melt()` function and `DataFrame.melt()` method take a single dataframe and make it **taller** by taking data stored in column names and putting it into the rows along with the rest of the data, adding extra metadata in the process.

For example, it can turn this `df` DataFrame:

| Month | Year | Monday | Tuesday | Wednesday |
| :--:  | :--: | :--:   | :--:    | :--:      |
| January | 2021 | 0 | -2 | -1 |
| February | 2021 | 2 | 4 | -2 |

into this:

| Month | Year | Weekday | Temperature |
| :--:  | :--: | :--:    |  :--:       |
| January | 2021 | Monday | 0 |
| January | 2021 | Tuesday | -2 |
| January | 2021 | Wednesday | -1 |
| February | 2021 | Monday | 2 |
| February | 2021 | Tuesday | 4 | 
| February | 2021 | Wednesday | -2 |

with one line of code:

```python
pd.melt(
    df, 
    id_vars=['Month', 'Year'],  # The columns that should stay the same
    value_vars=['Monday', 'Tuesday', 'Wednesday'],   # The columns that should melt
    var_name='Weekday',  # The new Column that will represent the melted column name's variable
    value_name='Temperature'  # The new Column that the data represents
)
```
Opposite of melt is pivot:
```python
pd.pivot(
    df, 
    index = ['Month', 'Year'] #'The columns that should stay the same
    columns='Weekday' # The columns that should pivot
    values='Temperature',   # The values that should pivot
)

```

**Note**: Melting a dataframe also called *"tidying"* data, making a *"long"* dataframe from a *"wide"* dataframe, or building a *design matrix*

#### Exercises

Let's practice tidying dataframes with the `pd.melt()` function.

In [ ]:
import pandas as pd

data = {'name': ['Jay', 'Geeta', 'Shyam'],
        'age': [30, 25, 20],
        'gender': ['male', 'female', 'male'],
        'height': [5.9, 5, 5.3],
        'weight': [75, 60, 70]}
df = pd.DataFrame(data)
df

In [ ]:
melted_df = pd.melt(df, id_vars=['name'], value_vars=['age', 'gender', 'height', 'weight'])
melted_df

## Opposite of melt: `pd.pivot`

In [ ]:
original_df = pd.pivot(melted_df, index='name', columns='variable', values='value')
original_df

Melt this dataset so it has four columns: "Country Name", "Country Code", "Year", and "Fertility Rate"

In [ ]:
pd.pivot

## Regularizing, Splitting Text Data

Oftentimes, string data contains multiple pieces of data inside it, split with a seperator character.  With it, you can turn a DataFrame from this:

| line |
| :--: |
| hi_1 |
| bye_2|

into this:

| line | msg | num |
| :--: | :--: | :--: |
| hi_1 | hi | 1 |
| bye_2| bye | 2 |

using a single line:

```python
df[['msg', 'num']] = df['line'].str.split('_', expand=True)
```


Let's try it out!

In [ ]:
df = pd.DataFrame({
    'counts_XADD': ["1;3;5", "10;2;6"],
    'intensities_JJAKX': ['5_32_654', "10_1_99"],
})
df

Rename the columns to just keep the the names before the underscore

Split the Counts into Counts_1, Counts_2, and Counts_3

Split the Intensities into Intensities_1, Intensities_2, and Intensities_3